.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 30px;
	border-style: solid;
  border-width: 1px;
  border-color: rgb(189, 189, 189);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
}

.form-item {
  margin-bottom: 20px;
}

.form-item p {
  margin: 0px;
}

.form-item-login {
  padding-top: 20px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
  width: 100%;
}

.login-logo {
  padding-top: 20px;
  text-align: center;
  font-size: 0.8em;
}

.login-logo img {
	object-fit: cover;
	width: 190px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 425px) {
  .login-form {
    width: 300px;
    padding: 20px;
    border-style: none;
    box-shadow: none;
  }
}