.about-portrait img,
.about-responsive img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.about-content {
  /* position: relative; */
	padding: 50px 100px;
	width: 100%;
	height: 100vh;
	background-color: rgb(175, 175, 175);
}
.about-content .about-content-wrapper {
	position: absolute;
	width: 75%;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.about-content .about-header {
	padding-top: 50px;
	font-size: 2rem;
	text-transform: capitalize;
}
.about-content .about-text {
	padding-top: 30px;
	font-size: 1.2rem;
}
.about-content .contact-btn {
	padding-top: 60px;
	display: flex;
	justify-content: center;
}
.about-content .contact-btn .ant-btn-lg {
	height: 60px;
	padding: 0 15px;
	font-size: 20px;
	border-radius: 12px;
}

@media screen and (max-width: 1024px) {
	.about-content {
		padding: 30px 50px;
	}
	.about-content .about-header {
		padding-top: 20px;
	}
	.about-content .about-text {
		padding-top: 0;
	}
	.about-content .contact-btn {
		padding-top: 20px;
	}
}
@media screen and (max-width: 768px) {
	.about-content {
		padding: 20px 40px;
	}
	.about-content .about-header {
		padding: 20px 0px;
		font-size: 1.5rem;
	}
	.about-content .about-text {
		padding-top: 0;
		font-size: 1rem;
	}
	.about-content .contact-btn {
		padding-top: 30px;
	}
}

.about-responsive img {
	padding: 0px;
	margin: 0px;
	width: 100%;
	position: relative;
	filter: blur(2px) brightness(50%);
	-webkit-filter: blur(2px) brightness(50%);
}
.about-responsive .about-content-responsive {
	padding: 0px;
	position: absolute;
	display: block;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: capitalize;
	width: 70%;
}
.about-responsive .about-content-responsive .about-header-responsive,
.about-text-responsive {
	color: #fff;
	text-align: center;
}
.about-responsive .about-content-responsive .about-text-responsive {
	text-align: left;
}
.about-responsive .about-content-responsive .contact-btn-responsive {
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
